.container1 {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  .container1 > form {
    width: 70%;
    height: 50%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  button {
    background: #0563b4 !important;
  }