.Registerpage {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    max-width: 500px;
    min-height: min-content;
    width: 100%;
    margin: auto;
    border: 1px solid red;
    position: relative;
    top: 12vh;
  }
  .Registerpage > form {
    width: 70%;
    min-height: min-content;
    max-height: min-content;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* overflow: scroll; */
  }
  button {
    background: #0563b4 ;
  }
